---
import InputField from '../forms/InputField.astro';
import SubmitButton from '../forms/SubmitButton.astro';
---

<form class="space-y-6 max-w-md mx-auto" action="/api/auth/signup" method="POST">
  <InputField
    label="Full Name"
    type="text"
    name="name"
    id="name"
    required={true}
  />
  <InputField
    label="Email address"
    type="email"
    name="email"
    id="email"
    required={true}
  />
  <InputField
    label="Password"
    type="password"
    name="password"
    id="password"
    required={true}
  />
  <SubmitButton text="Sign up" />
</form>